<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <table>
        <tr>
            <td> <a href="/mentors">Mentors and schools page</a> </td>
        </tr>
        <tr>
            <td> <a href="/all-school">All school page </a> </td>
        </tr>
        <tr>
            <td> <a href="/mentors-by-country">Mentors by country page</a> </td>
        </tr>
        <tr>
            <td> <a href="/contacts">Contacts page</a> </td>
        </tr>
        <tr>
            <td> <a href="/applicants">Applicants page</a> </td>
        </tr>
        <tr>
            <td> <a href="/applicants-and-mentors">Applicants and mentors page</a> </td>
        </tr>
    </table>
</body>
</html>
