<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <table>
        <tr>
            <td colspan = "2">Mentor name</td>
            <td>School name</td>
            <td>School country</td>
        </tr>
        {% for first_name, last_name, name, country in mentors %}

        <tr>
            <td> {{ first_name}} </td>
            <td> {{ last_name}} </td>
            <td> {{ name }} </td>
            <td> {{ country }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

